.contact-page {
  max-width: 1400px;
  margin: 200px auto 40px;
  padding: 0 20px;
}
.form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f8f8;
  border: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container header {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #800000;
}

.form-container p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #666;
}

.form-container label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-container textarea {
  min-height: 150px;
  resize: vertical;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #800000;
  box-shadow: 0 0 0 2px rgba(128, 0, 0, 0.1);
}

.error-message {
  color: #d32f2f;
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

input:has(+ .error-message),
textarea:has(+ .error-message) {
  border: 1px solid #d32f2f;
}

.submit-button {
  background-color: #800000;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 1.5rem;
  width: 100%;
}

.submit-button:hover:not(:disabled) {
  background-color: #600000;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.success-message {
  background-color: #f8e8e8e8;
  border-left: 4px solid #800000;
  padding: 1.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  animation: fadeIn 0.5s;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.success-message h3 {
  color: #800000;
  margin-bottom: 0.5rem;
}

.success-message p {
  margin-bottom: 1rem;
  color: #333;
}

.new-message-button {
  background-color: #800000;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.new-message-button:hover {
  background-color: #600000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .form-container,
  .success-message {
    padding: 1.5rem;
    margin: 1rem auto;
  }

  .form-container header {
    font-size: 1.5rem;
  }

  .submit-button,
  .new-message-button {
    padding: 0.75rem 1rem;
  }
}
