.product-catalog {
  max-width: 1400px;
  margin: 200px auto 40px;
  padding: 0 20px;
}

.product-catalog h1 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  padding-bottom: 0;
  color: #800000;
  text-align: center;
}
.category-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
}
.category-filters button {
  background: none;
  border: none;
  font-family: var(--thin-font);
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.category-filters button.active {
  color: #800000;
}

.separator {
  margin: 0 10px;
  color: #ccc;
  padding-bottom: 50px;
  padding-top: 20px;
}

.product-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: white;
  animation: fadeIn 0.6s ease-out forwards;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-card-image {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.product-card-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-card-content {
  padding: 15px;
}

.product-card-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.product-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-top: 0;
}

.product-card-price {
  font-size: 1.1rem;
  color: #333;
  margin: 0;
  padding: 0;
}

.sold-out {
  color: #fff;
  background-color: #721c24;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.low-inventory {
  display: inline-block;
  color: #721c24;
  padding: 5px 10px;
  font-size: 1rem;
}

.low-inventory-placeholder {
  visibility: hidden;
  padding: 5px 10px;
  font-size: 0.8rem;
  height: 1.2em;
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-filters {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #800000;
  }

  .category-filters button {
    background: none;
    border: none;
    font-family: var(--thin-font);
    font-size: 1rem;
    cursor: pointer;
    color: #800000;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }

  .product-card-image {
    height: 250px;
  }
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.no-products-message {
  text-align: center;
  margin: 50px 0;
  color: #666;
}
.reset-filters {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #800000;
  color: white;
  border: none;
  border: 4px;
  cursor: pointer;
}

.reset-filters:hover {
  background-color: #600000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
