.main-cart-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 200px 20px 20px 20px;
  width: 100%;
}

.no-items-message p {
  font-size: 18px;
}

.cart-title {
  font-family: var(--heading-font);
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 10px;
  color: var(--heading-font);
}

.cart-item-image {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.cart-item-grid {
  display: grid;
  grid-template-columns: 100px 2fr 1fr auto auto;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--red-color);
}

.product-details {
  font-size: 18px;
}

.item-variant {
  font-size: 16px;
  color: gray;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}
.quantity-controls button {
  width: 28px;
  height: 28px;
  background-color: var(--light-gray);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  color: gray;
  transition: background-color 0.2s;
  padding: 0;
  line-height: 1;
}
.quantity-controls button:hover {
  background-color: var(--border-color);
}

.quantity-controls button:disabled:hover {
  background-color: var(--light-gray);
}

.quantity-controls button:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: var(--light-gray);
}

.quantity-controls span {
  min-width: 20px;
  text-align: center;
  font-family: var(--body-font);
}

.price-remove-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 4 / span 2;
}

.item-total {
  font-size: 18px;
  display: flex;
  margin: 0;
  align-items: center;
  height: 100%;
  padding-right: 8px;
}

.remove-button {
  width: 28px;
  height: 28px;
  background-color: var(--light-gray);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  color: gray;
  transition: background-color 0.2s;
  padding: 0;
  line-height: 1;
}

.remove-button:hover {
  background-color: var(--border-color);
}

.subtotal-checkout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
  width: 100%;
}

.subtotal-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 15px;
}

.subtotal-label {
  font-size: 20px;
}

.subtotal-amount {
  font-size: 24px;
}

.checkout-button {
  background-color: var(--red-color);
  width: 300px;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 40px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #600000;
}

.checkout-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}
